<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" href="main.css" rel="stylesheet" />
    <script src="../../Utils/DomUtils.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <title></title>
    <style>
        .ui-widget {
            font-family: Verdana,Arial,sans-serif;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    

    <!-- <Framework Components> -->
    <div id="customAlert"></div>
    <div id="mainContainer_div" style="text-align:center;">
    </div>
    <div id="alert_container">
        <div id="alert-body">
            <div id="alert-image"></div>
            <div id="alert-title">Error</div>
            <div id="alert-description">Description error</div>
            <div id="alert-close">X</div>
        </div>
    </div>
    <div id="loading-container">
        <div class="loading-content">
            <img src="images/ajax-loader.gif" />
        </div>
    </div>
    <!-- </Framework Components> -->

</body>
</html>