body {
}
/* TEMPLATE STYLES */
.local_div {
}
.local_label {
    font-size:12px;
    width:120px;
    margin-left:2px;
    text-align:left;
    margin-bottom:5px;
    color:#b7b7b7;
    font-family:Arial;
    display:table;
    float:left;
}
.local_textarea {
}
.local_textfield {
    width:65%;
    float:none;
    margin-bottom:5px;
    height:25px;
    border-radius:5px;
    border-width:1px;
    border-color:#F7F4F4;

}
.local_btn {
    width:100%;
    background-color:#ff7a00;
    color:white;
    border-radius:5px;
    border-color:transparent;
}
.local_image {
}
.local_combobox {
    width:48%;
    height:25px;
    margin-bottom:5px;
    font-size:12px;
}
/* APP STYLES */
#userBar_div {
    margin-bottom:5px;
    width:100%;
    height:80px;
    text-align:center;
    background-color:#F7F4F4;
}
#assistant_image {
    margin:0 auto 0 auto;
    /*position:absolute;
    margin-left:-110px;*/
}
#controls_div {
    margin-bottom:5px;
    text-align:center;
}
#send_btn {
    height:45px;
}

#alert_container {
    display: table;
    background-color: rgb(184, 2, 14);
    bottom: 0px;
    z-index: 60000;
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;
    font-family:Arial;
    font-size:14px;
    visibility:hidden;
}
#loading-container {
    z-index: 90000;
    position: fixed;
    display:table;
    width:100%;
    background-color:rgb(248, 191, 0);
    visibility:hidden;
}
.loading-content {
    width:220px;
    margin:0 auto 0 auto;
}
#alert-body {
    width:60%;
    margin:0 auto 0 auto;
}
#alert-title {
    padding-top:10px;
    font-weight:bold;
    float:left;
}
#alert-image {
    float:left;
}
#alert-description {
    padding-top:10px;
    float:left;
}
#alert-close {
    display:table;
    background-color: rgba(255, 255, 255, 0.84);
    color: black;
    position:absolute;
    right:0px;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    padding-right:5px;
    cursor:pointer;
    font-weight:bold;
}